Source: calcfiles
Version: 1.0.0
Section: utils
Priority: optional
Maintainer: tortikplus <usenock2018@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.0
Homepage: https://github.com/tortikplus/Repository1
Package: calcfiles
Architecture: all
Depends: bash
Description: Script to calculate files in a directory
